<article class="message is-danger">
  <% if model.errors.any? %>
    <div class="message-header">
      <h4>Warning!</h4>
    </div>
    <div class="message-body">
      <p><%= pluralize(model.errors.count, "error") %> prohibited this from being saved:</p>
      <% model.errors.full_messages.each do |errors| %>
        <li><%= errors %></li>
      <% end %>
    </div>
  <% end %>
</article>