<div class='container'>
  <div class="card">
    <div class="card-content">
      <div class="media-content">
        <p class="title is-4"><strong><%= @user.user_name %>'s recipes</strong></p>
        <p class="subtitle is-6"><%= @user.email %></p>
      </div>
      <br>
      <div class="content">
        <%= link_to "Back", root_path, class: "button is-link is-light"%>
      </div>
    </div>
  </div>
</div>

<br>

<div class='container'>
  <div class="columns">
    <div class="column is-four-fifths">
      <% @user.recipes.each do |recipe|%>
        <%= render 'recipes/recipe', recipe: recipe %>
      <%end %>
    </div>
  </div>
</div>
